body {
  font-family: system-ui;
  background: #DEC8E8;
  color: #d4a373;
  text-align: center;
  width: 640px;
  height: 2000px;
  margin: 0 auto;
  padding-top: 15px;
  max-height: 100vx;
}

img {
  width: 500px;
  height: auto;
}

h1 {
  color: #522A65 !important;
  font-size: 3em !important;
  font-family: 'Waiting for the Sunrise', cursive;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

.thoughts {
  color: #522A65 !important;
  font-size: 1.5em;
  padding-top: 10px;
  width: 100%;
  font-family: Proza Libre, sans-serif;
  text-align: left;
}

.note {
  color: #522A65 !important;
  font-size: 1.5em;
  padding-top: 10px;
  width: 100%;
  font-family: Reenie Beanie Font, sans-serif;
  text-align: left;
}

h2, h3 {
  color: #522A65 !important;
  font-size: 3em;
  font-family: 'Waiting for the Sunrise', cursive;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

li {
  color: #522A65 !important;
  font-size: 1.5em;
  padding-top: 10px;
  width: auto; /* removed width to allow for natural line wrapping */
  font-family: Georgia, sans-serif;
  text-align: left;
}

.characters {
color: #522A65 !important;
font-size: 1.5em;
padding-top: 10px;
width: auto; /* removed width to allow for natural line wrapping */
font-family: Proza Libre, sans-serif;
text-align: left;
}

input[type="text"] {
  width: 200px;
  text-align: center;
}

span {
  font-size: 20PX;
  font-style: italic;
}

.extra-info {
  color: #522A65 !important;
font-size: 1.5em;
padding-top: 10px;
width: auto; /* removed width to allow for natural line wrapping */
font-family: Proza Libre, sans-serif;
text-align: left;
}

textarea {
  height: 100px;
  width: 400px;
}

.justify-info {
 color: #522A65 !important;
font-size: 1.2em;
padding-top: 10px;
width: auto; /* removed width to allow for natural line wrapping */
font-family: Proza Libre, sans-serif;
text-align: left;
font-style: italic;
}

p, p1 {
  font-size: 10px;
  margin: 0px;
  font-style: italic;
}

.definition-bubble {
  position: relative;
  cursor: pointer;
}

.definition-bubble label {
  font-style: normal;
  font-size: 1.2em;
}

.definition-bubble:hover::after {
  content: attr(data-definition);
  position: absolute;
  top: -40%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  font-size: 0.7em;
}

text-align: center;
}

.thoughts {
  text-align: center;
}

.characters {
  text-align: center;
}

.justify-info {
  text-align: center;
}

.submission {
  padding-top: 10px;
}